*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
}
.home_p{
    font-size: 30px
}

.home_h1{
    font-size: 80px;
}

body{
    background-color: #FFF9C4;
}

.header{
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #7d7d7d1b;
}

.header a{
    background-color: rgba(189, 189, 189, 0.39);
    border-radius: 20px;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    font-size: 16px;
}

.circuit_img{
    height: 40px;
}

.header_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 0 2rem;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_left{
    margin-left: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    height: calc(60vh - 80px);

}

.etc_buttons{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.etc_buttons button{
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
}

.etc_button_1{
    background-color:#a8e6cf;
}

.etc_button_2{
    background-color:#fff27d;
}

.social_buttons{
    margin-top: 20px;
    display: flex;
    gap: 5px;   
}

.social_buttons button{
    display: flex;
    gap: 5px;   
    border-style: solid;
    border-radius: 50%;
    border-color: #a8e6cf;
    height: 50px;
    width: 50px;
    outline: none;
    box-shadow: none;
    background-color: #FFF9C4;
}

.social_buttons button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}


svg{
    margin-top: 6px;
    margin-left: 6px;
    fill:#a8e6cf;
}
  

.circle_gradient{
    position: fixed;
    width: 100vh;
    height: 100vh;
    z-index: -1;
    top: 50vh;
    left: 60vw;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #26c281, transparent 60%),
                radial-gradient(circle at 70% 70%, #f9f0a1, transparent 60%),
                radial-gradient(circle at 50% 50%, #c6d400, transparent 60%);
    background-blend-mode: screen;
    filter:blur(2px);
    background-size: 400% 400%;
    animation: scatterMove 6s ease-in-out infinite alternate;
    pointer-events: none; /* pra não atrapalhar cliques */
}
@keyframes scatterMove {
    0% {
        background-position: 30% 30%, 70% 70%, 50% 50%;
    }
    50% {
        background-position: 40% 60%, 60% 40%, 55% 45%;
    }
    100% {
        background-position: 25% 35%, 75% 65%, 45% 55%;
    }
}

.abtme_div_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.abtme_textbox p{
    padding-left: 10px;
    padding-right: 10px;
}

.abtme_img{
    width: 120x;
    height: 160px;
    border-radius: 5px;
}

.evolution_imgs{
    display: flex;
    flex-direction: column;
}

.evolution_imgs img{
    width: 650px;
    height: 330px;
    margin-top: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(93, 93, 93);
    border-radius: 2px;
}


/*Eu sei que eu devia ter feito isso melhor e ainda por cima separado meus styles mas o projeto e pequeno então essa estrutura interna de nomes deve bastar
Aqui vão ficar as bolinhas pequenas da home page que ocupa mto espaço
*/

.small_circle_gradient_1{
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: -2;
    top: 30vh;
    left: 40vw;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #26c281, transparent 60%),
                radial-gradient(circle at 70% 70%, #f9f0a1, transparent 60%),
                radial-gradient(circle at 50% 50%, #c6d400, transparent 60%);
    background-blend-mode: screen;
    filter:blur(2px);
    background-size: 400% 400%;
    animation: scatterMove 6s ease-in-out infinite alternate;
    pointer-events: none;
}

.small_circle_gradient_2{
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: -2;
    top: 35vh;
    left: 60vw;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #26c281, transparent 60%),
                radial-gradient(circle at 70% 70%, #f9f0a1, transparent 60%),
                radial-gradient(circle at 50% 50%, #c6d400, transparent 60%);
    background-blend-mode: screen;
    filter:blur(2px);
    background-size: 400% 400%;
    animation: scatterMove 6s ease-in-out infinite alternate;
    pointer-events: none;
}

.small_circle_gradient_3{
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: -2;
    top: 45vh;
    left: 35vw;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #26c281, transparent 60%),
                radial-gradient(circle at 70% 70%, #f9f0a1, transparent 60%),
                radial-gradient(circle at 50% 50%, #c6d400, transparent 60%);
    background-blend-mode: screen;
    filter:blur(2px);
    background-size: 400% 400%;
    animation: scatterMove 6s ease-in-out infinite alternate;
    pointer-events: none;
}

.small_circle_gradient_4{
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: -2;
    top: 55vh;
    left: 45vw;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #26c281, transparent 60%),
                radial-gradient(circle at 70% 70%, #f9f0a1, transparent 60%),
                radial-gradient(circle at 50% 50%, #c6d400, transparent 60%);
    background-blend-mode: screen;
    filter:blur(2px);
    background-size: 400% 400%;
    animation: scatterMove 6s ease-in-out infinite alternate;
    pointer-events: none;
}

.small_circle_gradient_5{
    position: fixed;
    width: 70px;
    height: 70px;
    z-index: -2;
    top: 70vh;
    left: 50vw;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #26c281, transparent 60%),
                radial-gradient(circle at 70% 70%, #f9f0a1, transparent 60%),
                radial-gradient(circle at 50% 50%, #c6d400, transparent 60%);
    background-blend-mode: screen;
    filter:blur(2px);
    background-size: 400% 400%;
    animation: scatterMove 6s ease-in-out infinite alternate;
    pointer-events: none;
}

.small_circle_gradient_6{
    position: fixed;
    width: 45px;
    height: 45px;
    z-index: -2;
    top: 20vh;
    left: 53vw;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #26c281, transparent 60%),
                radial-gradient(circle at 70% 70%, #f9f0a1, transparent 60%),
                radial-gradient(circle at 50% 50%, #c6d400, transparent 60%);
    background-blend-mode: screen;
    filter:blur(2px);
    background-size: 400% 400%;
    animation: scatterMove 6s ease-in-out infinite alternate;
    pointer-events: none;
}

.small_circle_gradient_7{
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: -2;
    top: 85vh;
    left: 42vw;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #26c281, transparent 60%),
                radial-gradient(circle at 70% 70%, #f9f0a1, transparent 60%),
                radial-gradient(circle at 50% 50%, #c6d400, transparent 60%);
    background-blend-mode: screen;
    filter:blur(2px);
    background-size: 400% 400%;
    animation: scatterMove 6s ease-in-out infinite alternate;
    pointer-events: none;
}

@media (max-width: 768px) {
    .p{font-size: 16px;}
    
    .circle_gradient{
        width: 150vw;
        height: 150vw;
        top: 60vh;
        left: 30vw;
    }
    
    .content_left{
        margin-left: 0;
    }

    h1{
        font-size: 32px;
    }

    p{
        font-size: 16px;
    }

    .evolution_imgs img{
        width: 100vw;
        height: 40vw;
    }
}