*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.home_header{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #9f9f9f;
    
}

.header_link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_left{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}